@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;/**/
  display: flex;
}

img {/*landing page image*/
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;/*puts the nav links next to each other "horizontal"*/
}

li {
  list-style-type: none;/*takes away the bullet points*/
}

h1 {/*css for "America's Most Awarded Online Library Platform"*/
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;/**/
  text-align: center;
}
button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.purple {
  color: #7342d6;/*color of text in span classes*/
}

.logo {
  width: 160px;/*makes the  library logo smaller "logo"*/
}

.nav__container {/*Nav bar*/
  width: 100%;
  max-width: 1200px;/*makes them responsive with the page*/
  padding: 0 24px;/*0 is for top and bottom 24px is left and right gets the logo and nav links away from the edges of the page*/
  display: flex;
  justify-content: space-between;/*sends the nav links to the right side of the page*/
  align-items: center;/* centers the "logo" and "nav links" on the vertical axis*/
  margin: 0 auto;/*centers the nav bar*/
}

.nav__link {/*styling of the nav links*/
  margin-left: 16px;/*Spaces the nav links in between them horizontally*/
  text-decoration: none;/*Takes away the underline under the nav links*/
  font-size: 20px;/*makes the font size bigger*/
  color: #7342d6;/*color of text*/
  font-weight: bold;/**/
  padding: 8px;/*padding between the links since the "book" link has a "primary" class linked to it*/
}

.nav__link:hover {/*when (hovering) over nav__links underline shows up*/
  text-decoration: underline;
}

.nav__link--primary {/*styling of the nav__link "book"*/
  border: 2px solid #7342d6;/*color of box around nav__link "book"*/
  border-radius: 4px;/*curves the edges of the little box around the nav__link "book"*/
}

.nav__link--primary:hover {/*When hovering over the nav__link "book" underline does not show up*/
  text-decoration: none;
}/*hover element in general needs to come after the original class or else the hover effect will not work*/

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  /* align-items: center; */
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* display:flex; */
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  /* display: flex; */
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;/*new*/
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: white;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/* LANDING*/

#landing {
  background-color: rgba(115, 66, 214, 0.1);/*background color of landing page*/
}

header {
  height:calc(100vh - 80px);/*look at interval 10:34 to figure out how to do later of e-commerce site*/
}

.header__container {
  width: 100%;/*in "inspect element the width is spanning the whole width of the page"*/
  max-width: 720px;/*sets the maximum width of an element. It prevents the used value of the width property from becoming larger than the value specified by max-width (if the context is smaller than the max-width then the max-width has no-effect)*/
  margin: 0 auto;/*centers the h1 and h2 in the header__container*/
  height: 100%;/*(Look in inspect element for this) */
  display: flex;/*(Look in inspect element for this)*/
  flex-direction: column;/*(Look in inspect element for this)*/
  justify-content:space-around;/*(Look in inspect element for this)*/
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper {
  padding: 20px;
  z-index: 1;
  margin-bottom: 10%;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}


/*BUTTON*/

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

/*

HIGHLIGHTS

*/

#highlights {
  position: relative;
  max-width: 100vw;
}


#highlights:after,
#highlights:before {
  background:url('assets/wave.svg');
  content:"";
  position:absolute;
  width:101vw;
  height:12vw;
  left:0;
  z-index:1;
  background-size:cover;
  background-repeat:no-repeat;
}

#highlights:before {
  transform: translateY(-100%);
  top: 1px;
}

#highlights:after {
  transform: translateY(100%) rotate(180deg);
  bottom: 1px;
}

.highlight__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
  padding: 0 24px;
  display: flex;
  width: calc(100% / 3);
  align-items: center;
  flex-direction: column;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  border: 2px solid #7342d6;
  color: #7342d6;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

/*
FEATURES
*/

#features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%;
  padding: 24px;
}

.book__img {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: not-allowed;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}

.book__title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}

.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

button:active {
  transform: translateY(1px);
}

.btns {
  display: flex;

  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

#BrowseBooks {
  background-color: white;
}

/*

FOOTER

*/

footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
}

.footer__social--link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin: 20px 0 24px 0;
}

.footer__link {
  padding: 0 8px;
  color: #fff;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .header__description {
    padding: 0 24px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 26px;
  }

  button {
    font-size: 18px;
  }

  .book {
    width: 50%;
  }
}

/*SMALL PHONES*/
@media (max-width: 550px) {
  .nav__links {
    display: none;
  }
  .btn__menu {
    display: block;
  }
  .highlight {
    width: 100%;
  }

  .highlight:not(:last-child) {
    margin-bottom: 24px;
  }
}
